/* estilos body */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* estilos de la pagina inicio */

.titulo {
    text-align: center;
    
}


.tabla {
    margin: 50px;
}

/* estilos citas apa */

.cita_imagen {
    text-align: center;
    font-weight: normal;
}

.css_img {
    display:block;
    margin:auto;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.twitter-tweet {
    display:block;
    margin:auto;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.video_recursos { 
    display:block;
    margin:auto;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* estilos crucigrama */

.crucigrama {
    display:block;
    margin:auto;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* estilos menu */

.nav li ul{
    display: none;
}

.nav li ul{
    display: none;
    position: absolute;
    
}

.nav li:hover > ul{
    display: block;
    position: relative;
}